<h5 mat-dialog-title>{{ dialogType | titlecase }} Data</h5>

<mat-dialog-content>
  <form [formGroup]="formGroup" #modalForm>
    <mat-form-field>
      <mat-label>URL Code</mat-label>
      <input formControlName="url" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Endpoint</mat-label>
      <input formControlName="endpoint" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="source" placeholder="Source">
        <mat-option *ngFor="let d of sources" [value]="d">{{ d }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="analytics" placeholder="Analytics">
        <mat-option *ngFor="let d of analytics" [value]="d">{{ d }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="model" placeholder="Model">
        <mat-option *ngFor="let d of models" [value]="d">{{ d }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- query parameters-->
    <ng-container *ngIf="formGroup.controls['queryParams'] && formGroup.controls['queryParams']['controls']">
      <div *ngFor="let d of formGroup.controls['queryParams']['controls']; let i = index">
        <app-queryparam-edit [formGroup]="d"></app-queryparam-edit>
        <!--
        <button 
          (click)="removeQueryparam(i)" 
          [matTooltipPosition]="'left'" 
          class="btn btn-danger btn-link float-right" 
          mat-icon-button matTooltip="Remove query parameter" 
          type="button"
        ><mat-icon>close</mat-icon></button>  
        -->
      </div>
    </ng-container>

    <button 
      (click)="addQueryparam()" 
      [matTooltipPosition]="'left'" 
      class="btn btn-primary btn-link float-left" 
      mat-icon-button matTooltip="Add query parameters" 
      type="button"
    ><mat-icon>add_circle</mat-icon>query-params</button>
    <!-- query parameters -->
    
    <mat-dialog-actions align="end">
      <button 
        mat-raised-button 
        class="btn btn-warning" 
        [mat-dialog-close]="undefined"
      >Cancel</button>

      <button 
        mat-raised-button 
        class="btn btn-primary" 
        (click)="save()" 
        [disabled]="!formGroup.valid" 
        type="submit">Save</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
