<p mat-dialog-title>Data Stream</p>

<mat-dialog-content>

  <h4>
    <b>Description </b>{{data.description}}
  </h4>
  <h4>
    <b>Endpoint </b><a href="{{ url }}" target="_blank">{{url}}</a>
  </h4>

  <ng-container *ngIf="spinner">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-container *ngIf="!spinner">
    <h4><b>Length </b>{{ length$ | async }}</h4>

    <table id="data-view-table">
      <tr>
        <th *ngFor="let col of column$ | async">{{ col }}</th>
      </tr>
      <tr *ngFor="let d of jsonData$ | async">
        <td *ngFor="let col of column$ | async">{{ d[col] }}</td>
      </tr>
    </table>

    <br />

    <h4>JSON:</h4>
    <ngx-json-view [data]="jsonData$ | async"></ngx-json-view>
  </ng-container>

  <mat-dialog-actions align="end">
    <button mat-raised-button class="btn btn-warning" [mat-dialog-close]="undefined">Close</button>
  </mat-dialog-actions>
</mat-dialog-content>
