<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <mat-icon>web</mat-icon>
            </div>
            <h4 class="card-title">Binding</h4>
          </div>

          <div class="card-body">

            <!--
            VIS
            -->
            <mat-card>
              <mat-card-header>
                <mat-card-title>VIS Function</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>

              <form [formGroup]="ontoVisSearchFormGroup" class="vis-search">
                <mat-form-field>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="searchOntoVisQuery"
                    formControlName="ontoVisSearchQuery"
                    [matAutocomplete]="auto1"
                    placeholder="Search VIS functions"
                    #input1
                    (keydown.enter)="onClickSearchOntoVis()"
                  />
                  <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="optionSelected(input1)">
                    <mat-option *ngFor="let d of suggestedOntoVis" [value]="d.function">
                      <span [innerHTML]="d.function | highlight: highlightOntoVisSearchSuggestion"></span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <button
                  (click)="onClickSearchOntoVis()"
                  [disabled]="!ontoVisSearchFormGroup.valid"
                  class="btn btn-primary btn-round btn-fab float-right card-btn"
                  type="submit"
                >
                  <mat-icon>search</mat-icon>
                </button>
              </form>

              <app-onto-vis-table-b [data]="ontoVisSearchResult" > </app-onto-vis-table-b>
            </mat-card>

            <!--
            VIS - end
            -->

            <!--
            Data
            -->
            <mat-card>
              <mat-card-header>
                <mat-card-title>Data</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
              </mat-card-header>

              <form [formGroup]="ontoDataSearchFormGroup" class="data-search">
                <!-- <div class="row align-centered-flex"> -->
                  <!-- <div class="pull-left col-md-1"> -->
                    <mat-form-field>
                      <mat-select formControlName="ontoDataSearchDataType" placeholder="Data Type">
                        <mat-option [value]="null"></mat-option>
                        <mat-option *ngFor="let d of dataTypes" [value]="d">{{ d }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  <!-- </div> -->

                  <mat-divider [vertical]="true" class="divider"></mat-divider>

                  <!-- <div class="pull-left col-md-4 d-flex"> -->
                    <mat-form-field>
                      <input
                        matInput
                        type="text"
                        formControlName="ontoDataSearchQuery"
                        [matAutocomplete]="auto"
                        placeholder="Search data streams"
                        #input
                        (keydown.enter)="onClickSearchOntoData()"
                      />
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected(input)">
                        <mat-option
                          *ngFor="let d of suggestedOntoData"
                          [value]="d.description + ' ' + d.keywords.join(', ')"
                        >
                          <span [innerHTML]="d.description | highlight: highlightOntoDataSearchSuggestion"></span>
                          <b> | </b>
                          <span
                            [innerHTML]="d.keywords.join(', ') | highlight: highlightOntoDataSearchSuggestion"
                          ></span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <button
                      (click)="onClickSearchOntoData()"
                      [disabled]="!ontoDataSearchFormGroup.valid"
                      class="btn btn-primary btn-round btn-fab float-right card-btn"
                      type="submit"
                    >
                      <mat-icon>search</mat-icon>
                    </button>
                  <!-- </div> -->
                <!-- </div> -->
              </form>

              <app-onto-data-search-table
                [data]="ontoDataSearchResult"
                [length]="ontoDataSearchResultTotalCount"
                [searchable]="true"
                [selectable]="false"
                [showBindings]="true"
                [canAddToBasket]="true"
                (onClickAddToBasket)="addOntoDataToBasket($event)"
              >
              </app-onto-data-search-table>

              <app-onto-data-group [data]="ontoDataBasket" [add]="addData" [editBasket]="true"> </app-onto-data-group>
            </mat-card>

            <!--
            Data - end
            -->

          </div>
          <!-- end card-body-->
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>
