<p mat-dialog-title>Data Stream</p>

<mat-dialog-content>
	<h4>
		Endpoint: <a href="{{ url }}" target="_blank"><mat-icon>link</mat-icon></a> 
	</h4>
	
	<hr />

	<div *ngIf="loading else loaded">
    loading ...
	</div>

	<ng-template	ng-template #loaded>
		<h4> Length: {{ length$ | async }} </h4>
		<h4> Data (first 10 rows): </h4>
	
		<table id="data-view-table">
			<tr>
				<th *ngFor="let col of column$ | async">{{col}}</th>
			</tr>
			<tr *ngFor="let d of jsonData$ | async">
				<td *ngFor="let col of column$ | async">{{d[col]}}</td>
			</tr>
		
		</table>	
		
		<br />
		<!--JSON view-->
		<ngx-json-view [data]="jsonData$ | async"></ngx-json-view>  
	</ng-template>
	
  <mat-dialog-actions align="end">
    <button 
			mat-raised-button 
			class="btn btn-warning" 
			[mat-dialog-close]="undefined"
		>
		Close
	</button>
  </mat-dialog-actions>
</mat-dialog-content>
