<div class="card" [formGroup]="formGroup">
  <div class="card-header">
    <button (click)="removeSelf()" 
      [matTooltipPosition]="'left'" 
      class="btn btn-danger btn-link float-right" 
      mat-icon-button matTooltip="Remove" 
      type="button"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div class="card-body">

    <mat-form-field>
      <mat-select formControlName="visId" placeholder="VIS" #singleSelect>
        <mat-option>
          <ngx-mat-select-search 
            [formControl]="visIdFilterCtrl"
            placeholderLabel="Find VIS functions..." 
            noEntriesFoundLabel="No matching vis function found"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let d of filteredVisId | async" [value]="d.id">
          {{ d.function }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-form-field>
      <mat-select formControlName="dataIds" placeholder="Data" [multiple]="true" #multiSelect>
        <mat-option>
          <ngx-mat-select-search 
              [formControl]="dataIdFilterCtrl"
              placeholderLabel="Find data streams..." 
              noEntriesFoundLabel="No data stream found"
            ></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let d of filteredDataIds | async" [value]="d.id">
          {{d.urlCode}}{{d.endpoint}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
    <!-- <ng-container *ngIf="formGroup.controls['bindData'] && formGroup.controls['bindData']['controls']">
      <div *ngFor="let d of formGroup.controls['bindData']['controls']; let i = index">
        <app-binddata-edit [formGroup]="d"></app-binddata-edit>
      </div>
    </ng-container>

    <button
      (click)="onClickBindData()"
      [matTooltipPosition]="'left'"
      class="btn btn-success btn-link float-left"
      mat-icon-button
      matTooltip="Bind data"
      type="button"
    >
      <mat-icon>add_circle</mat-icon>
    </button> -->
    
  </div>
</div>
