// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $hart-primary !default;
$brand-secondary:            $hart-secondary !default;
$brand-info:                 $hart-info !default;
$brand-success:              $hart-success !default;
$brand-warning:              $hart-warning !default;
$brand-danger:               $hart-danger !default;
$brand-light:                $hart-light !default;
$brand-dark:                 $hart-dark !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
