.collection-text-lightgray td {
    color: rgba(192, 192, 192) !important;
  }

  .collection-text-lightgray td mat-chip {
    color: rgba(192, 192, 192) !important;
  }

  .green-icon {
    color: green;
}