<div class="row" *ngIf="isEditable">
  <mat-form-field class="pull-left mt-1 col-md-4">
    <input
      [(ngModel)]="keyword"
      (keyup)="filterTerm$.next(keyword)"
      matInput
      name="search"
      placeholder="Filter by ID..."
      type="text"
    />
  </mat-form-field>

  <div class="pull-right mt-1 col-md-8">
    <button
      (click)="onClickCreate.emit()"
      class="btn btn-primary btn-round btn-fab float-right card-btn"
      mat-mini-fab
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<table
  [dataSource]="tableDataSource"
  mat-table
  matSort
  matSortActive="date"
  matSortDirection="desc"
  matSortDisableClear="true"
>
  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
    <td *matCellDef="let row" mat-cell>{{ row.date | date: "short" }}</td>
  </ng-container>

  <ng-container matColumnDef="bindings">
    <th *matHeaderCellDef mat-header-cell>No. binding</th>
    <td *matCellDef="let row" mat-cell>{{ row.bindings.length }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef class="text-center actions" mat-header-cell>Actions</th>
    <td *matCellDef="let row" class="td-actions text-center text-nowrap" mat-cell>
      <button
        cdkCopyToClipboard="{{ row.id }}"
        [matTooltipPosition]="'left'"
        class="btn btn-light btn-link"
        mat-icon-button
        matTooltip="Copy to clipboard"
        type="button"
      >
        <mat-icon>content_copy</mat-icon>
      </button>

      <button
        (click)="onClickEdit.emit(row)"
        [matTooltipPosition]="'left'"
        class="btn btn-warning btn-link"
        mat-icon-button
        matTooltip="Edit row"
        type="button"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        (click)="onClickDelete.emit(row.id)"
        [matTooltipPosition]="'left'"
        class="btn btn-danger btn-link"
        mat-icon-button
        matTooltip="Remove row"
        type="button"
      >
        <mat-icon>close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="tableData.headerRow" mat-header-row></tr>
  <tr *matRowDef="let row; columns: tableData.headerRow" mat-row></tr>
</table>

<div *ngIf="spinner" class="spinner-background">
  <mat-progress-spinner class="progress-spinner-container" color="primary" diameter="100" mode="indeterminate">
  </mat-progress-spinner>
</div>
<mat-paginator [length]="len" [pageSizeOptions]="[50, 100, 150, 200]" [pageSize]="50" showFirstLastButtons>
</mat-paginator>
