<div class="table-responsive">

<table mat-table [dataSource]="dataSource" cdkDropList [cdkDropListData]="dataSource" (cdkDropListDropped)="drop($event)">
  <ng-container matColumnDef="index">
    <th *matHeaderCellDef mat-header-cell>Index</th>
    <td *matCellDef="let row; let i = index" mat-cell>
      D{{ i + 1 }}
    </td>
  </ng-container>

  <ng-container matColumnDef="endpoint">
    <th *matHeaderCellDef mat-header-cell>Endpoint</th>
    <td *matCellDef="let row" mat-cell>
      <!-- {{ row.urlCode }}{{ row.endpoint | truncate: "50" }} <br/> -->
      {{ row.description | truncate: "50" }}
    </td>
  </ng-container>

  <!--
  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-header-cell>Description</th>
    <td *matCellDef="let row" mat-cell>{{ row.description  | truncate: "50" }}</td>
  </ng-container>
  -->

  <ng-container matColumnDef="dataType">
    <th *matHeaderCellDef mat-header-cell>Type</th>
    <td *matCellDef="let row" mat-cell>
      <mat-chip-list>
        <mat-chip *ngIf="row.dataType" [ngClass]="row.iDataType ? 'datatype-match-color' : 'datatype-nomatch-color'">
          {{ row.dataType }}
        </mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="keywords">
    <th *matHeaderCellDef mat-header-cell>Keywords</th>
    <td *matCellDef="let row" mat-cell>
      <mat-chip-list>
        <ng-container *ngFor="let d of row.keywords">
        <mat-chip
          *ngIf="row.iAll.includes(d) != 1"
          [ngClass]="
            row.iAll.includes(d)
              ? 'keyword-match-color-1'
              : row.iExample.includes(d)
              ? 'keyword-match-color-2'
              : row.iGroup.includes(d)
              ? 'keyword-match-color-3'
              : 'keyword-nomatch-color'
          "
        >
          {{ d }}
        </mat-chip>
      </ng-container>
      </mat-chip-list>
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef class="text-center actions" mat-header-cell>Actions</th>
    <td *matCellDef="let row" class="td-actions text-center text-nowrap" mat-cell>
      <button mat-icon-button cdkCopyToClipboard="{{ row.id }}" [matTooltipPosition]="'left'" class="btn btn-light btn-link" matTooltip="Copy ID to clipboard">
        <mat-icon>content_copy</mat-icon>
      </button>

      <button mat-icon-button (click)="onClickViewData(row)" [matTooltipPosition]="'left'" class="btn btn-primary btn-link" matTooltip="View">
        <mat-icon>grid_on</mat-icon>
      </button>

      <button
        *ngIf="editBasket"
        mat-icon-button
        (click)="onClickRemove(row)"
        [matTooltipPosition]="'left'"
        class="btn btn-warning btn-link"
        matTooltip="Remove"
      >
        <mat-icon>delete_outline</mat-icon>
      </button>

      <button *ngIf="editBasket" mat-icon-button cdkDragHandle [matTooltipPosition]="'left'" class="btn btn-warning btn-link" matTooltip="Remove">
        <mat-icon>reorder</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- <tr mat-header-row *matHeaderRowDef="tableData.headerRow"></tr> -->
  <tr mat-row *matRowDef="let row; columns: tableData.headerRow" cdkDrag [cdkDragData]="row"></tr>
</table>

</div>
