<mat-form-field class="pull-left mt-1 col-md-4">
  <input 
    (keyup)="filterDataSource()"
    [(ngModel)]="searchTerm" 
    matInput
    name="search" 
    type="text" 
    placeholder="Search on title or tags..." 
  />
</mat-form-field>

<table 
  [dataSource]="dataSource" 
  mat-table matSort 
  matSortActive="id" 
  matSortDirection="desc" 
  matSortDisableClear="true"
>
  <ng-container matColumnDef="type">
    <th *matHeaderCellDef mat-header-cell class="end">Type</th>
    <td *matCellDef="let row" mat-cell>
      <svg-icon src="assets/img/icons/logo-{{ row.source.type | lowercase }}.svg" class="source-type"></svg-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>
    <td *matCellDef="let row" mat-cell>
      {{ row.source.title }}
      <a href="{{ row.source.url }}"><i class="material-icons">link</i></a>
    </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th *matHeaderCellDef mat-header-cell mat-sort-header mat-sort-header>Tags</th>
    <td *matCellDef="let row" mat-cell>
      <mat-chip-list>
        <mat-chip *ngFor="let chip of row.collection.tags">{{ chip }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Text</th>
    <td *matCellDef="let row" mat-cell>{{ row.text | truncate: '30' }}</td>
  </ng-container>

  <ng-container matColumnDef="minedOn">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Mined on</th>
    <td *matCellDef="let row" mat-cell>{{ row.minedOn | dateAgo }}</td>
  </ng-container>

  <ng-container matColumnDef="updatedOn">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Updated on</th>
    <td *matCellDef="let row" mat-cell>{{ row.updatedOn | dateAgo }}</td>
  </ng-container>

  <ng-container matColumnDef="by">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Checked</th>
    <td *matCellDef="let row" mat-cell>{{ row.user?.name }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef mat-header-cell class="text-center actions">Actions</th>
    <td *matCellDef="let row" class="td-actions text-center text-nowrap" mat-cell>
      <button 
        (click)="remove.emit(row.id)" 
        [matTooltipPosition]="'left'" 
        class="btn btn-danger btn-link" 
        mat-icon-button 
        matTooltip="Delete"
      >
        <mat-icon>close</mat-icon>
      </button>

      <button 
        (click)="check.emit(row.id)" 
        [matTooltipPosition]="'left'" 
        class="btn btn-success btn-link" 
        mat-icon-button 
        matTooltip="Check" 
        [hidden]="row.user"
      >
        <mat-icon>done</mat-icon>
      </button>

      <button
        (click)="showPdf.emit(row.id)"
        [matTooltipPosition]="'left'"
        class="btn btn-primary btn-link"
        mat-icon-button
        matTooltip="Show report"
        type="button"
      >
        <mat-icon>article</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dataTable.headerRow"></tr>
  <tr 
    mat-row
    *matRowDef="let row; columns: dataTable.headerRow" 
  >
  </tr>
</table>

<div *ngIf="spinner" class="spinner-background">
  <mat-progress-spinner 
    class="progress-spinner-container" 
    color="primary" 
    diameter="100" 
    mode="indeterminate"
  > 
  </mat-progress-spinner>
</div>

<mat-paginator 
  [length]="data.length" 
  [pageSizeOptions]="[25, 50, 100]" 
  [pageSize]="25" 
  showFirstLastButtons
>
</mat-paginator>
