<div class="card" [formGroup]="formGroup">
  <div class="card-header">
    <button
      (click)="removeSelf()"
      [matTooltipPosition]="'left'"
      class="btn btn-danger btn-link float-right"
      mat-icon-button
      matTooltip="Remove"
      type="button"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div class="card-body">

    <ng-select
      [items]="ontoVis$ | async"
      bindLabel="function"
      bindValue="id"
      [multiple]="false"
      [closeOnSelect]="true"
      [searchable]="true"
      formControlName="visId"
      placeholder="VIS function"
    >
    </ng-select>

    <ng-select
      [items]="ontoData$ | async"
      bindLabel="endpoint"
      bindValue="id"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="true"
      formControlName="dataIds"
      placeholder="Data streams"
    >
    </ng-select>


    <ng-select
      [items]="ontoData$ | async"
      bindLabel="id"
      bindValue="id"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="true"
      formControlName="pageIds"
      placeholder="Links"
    >
    </ng-select>


    <!--
    <ng-container *ngIf="formGroup.controls['bindData'] && formGroup.controls['bindData']['controls']">
      <div *ngFor="let d of formGroup.controls['bindData']['controls']; let i = index">
        <app-binddata-edit [formGroup]="d"></app-binddata-edit>
      </div>
    </ng-container>

    <button
      (click)="onClickBindData()"
      [matTooltipPosition]="'left'"
      class="btn btn-success btn-link float-left"
      mat-icon-button
      matTooltip="Bind data"
      type="button"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
    -->

  </div>
</div>
