//
// VIS search form
//
.vis-search {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto; // centre the whole form
}


//
// material card
//
.mat-card {
  margin-bottom: 15px;
}

.mat-card-title {
  color: gray;
  font-weight: normal;
}

//
// Search Query
//
.mat-accordion .mat-expansion-panel{
  margin-bottom: 10px;
}

.mat-card-data-search {
  margin-top: 10px;
}

// space below data search button
.mat-card-actions {
  margin-bottom: 0px;
}


//
// Cluster algorithm selection radio button
//
.cluster-algorithm-radio-group {
  display: flex;
  flex-direction: row;
  margin: 0px 0;
}

.cluster-algorithm-radio-button {
  margin: 5px;
}

