<div class="main-content">
  <div class="container-fluid">
    <!-- Card 1 -->

    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>insert_chart</mat-icon>
        </div>
        <h4 class="card-title">VIS Function</h4>
      </div>

      <div class="card-body">
        <!-- VIS search -->

        <form [formGroup]="ontoVisSearchFormGroup" class="vis-search">
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="searchOntoVisQuery"
              formControlName="ontoVisSearchQuery"
              [matAutocomplete]="auto1"
              placeholder="Search VIS functions"
              #input1
              (keydown.enter)="onClickSearchOntoVis()"
            />
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="optionSelected(input1)">
              <mat-option *ngFor="let d of suggestedOntoVis" [value]="d.function">
                <span [innerHTML]="d.function | highlight: highlightOntoVisSearchSuggestion"></span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button
            (click)="onClickSearchOntoVis()"
            [disabled]="!ontoVisSearchFormGroup.valid"
            class="btn btn-primary btn-round btn-fab float-right card-btn"
            type="submit"
          >
            <mat-icon>search</mat-icon>
          </button>
          <!-- </div> -->
        </form>

        <!-- VIS search result table-->
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Selected VIS Function</mat-card-subtitle>
          </mat-card-header>
          <app-onto-vis-table-b [data]="ontoVisSearchResult"> </app-onto-vis-table-b>
        </mat-card>

        <!-- VIS example data table-->
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Example Data</mat-card-subtitle>
          </mat-card-header>
          <app-onto-data-group [data]="exampleOntoData"> </app-onto-data-group>
        </mat-card>

        <!-- VIS example links table-->
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle style="color: gray">Example Links</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <!--End Card 1 -->

    <!--Search data-->

    <div class="card">
      <!-- *ngIf="exampleOntoData?.length"-->
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>storage</mat-icon>
        </div>
        <h4 class="card-title">Search and Propagate</h4>
      </div>
      <div class="card-body">
        <!-- Propagation -->
        <div class="row">
          <div class="pull-right mt-1 col-md-11"></div>
          <div class="pull-right mt-1 col-md-1">
            <button mat-raised-button class="btn btn-primary float-right" (click)="onClickPropagate()">
              Propagate All
            </button>
          </div>
        </div>

        <mat-card>
          <mat-card-header>
            <mat-card-subtitle> </mat-card-subtitle>
          </mat-card-header>

          <button mat-raised-button class="btn btn-primary float-left" (click)="onClickSearchOntoData()">Search</button>
          <app-onto-data-group-table [data]="ontoDataSearchGroups"> </app-onto-data-group-table>
        </mat-card>
      </div>
    </div>
    <!--End card search data-->

    <!--Search Links-->

    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>web</mat-icon>
        </div>
        <h4 class="card-title">Links</h4>
      </div>
      <div class="card-body">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Search Links</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Bind Links</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    <!--End container-fluid-->
  </div>
  <!--End main-content-->
</div>
