<div class="main-content">
  <div class="container-fluid">

    <!--
      Card: VIS Search
    -->
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>insert_chart</mat-icon>
        </div>
        <h4 class="card-title">Example Binding</h4>
      </div>

      <div class="card-body">

        <form [formGroup]="ontoVisSearchFormGroup" class="vis-search">
          <mat-form-field>
            <input
              matInput
              type="text"
              [(ngModel)]="searchOntoVisQuery"
              formControlName="ontoVisSearchQuery"
              [matAutocomplete]="auto1"
              placeholder="Search VIS functions"
              #input1
              (keydown.enter)="onClickSearchOntoVis()"
            />
            <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="optionSelected(input1)">
              <mat-option *ngFor="let d of suggestedOntoVis" [value]="d.function">
                <span [innerHTML]="d.function | highlight: highlightOntoVisSearchSuggestion"></span>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <button
            (click)="onClickSearchOntoVis()"
            [disabled]="!ontoVisSearchFormGroup.valid"
            class="btn btn-primary btn-round btn-fab float-right card-btn"
            type="submit"
          >
            <mat-icon>search</mat-icon>
          </button>
        </form>

        <!-- VIS search result table-->
        <mat-card  *ngIf="ontoVisSearchResult?.length">
          <mat-card-header>
            <mat-card-title>VIS Function</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <app-onto-vis-table-b [data]="ontoVisSearchResult"> </app-onto-vis-table-b>
        </mat-card>

        <!-- VIS example data table-->
        <mat-card *ngIf="exampleOntoData?.length">
          <mat-card-header>
            <mat-card-title>Data</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <app-onto-data-group [data]="exampleOntoData"> </app-onto-data-group>
        </mat-card>

        <!-- VIS example page table-->
        <mat-card *ngIf="exampleLinks?.length">
          <mat-card-header>
            <mat-card-title>Links</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <app-onto-page-group [data]="exampleLinks"> </app-onto-page-group>
        </mat-card>
      </div>


    </div>

    <!--
      Card: VIS Search - end
    -->

    <!--Search data-->

    <!-- <div class="card" *ngIf="exampleOntoData?.length"> -->
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>storage</mat-icon>
        </div>
        <h4 class="card-title">Propagation</h4>
      </div>
      <div class="card-body">

        <!--Search data-->
        <form [formGroup]="ontoDataSearchFormGroup">
          <div class="row">
            <div class="col-md-4">
              <ng-select
                [items]="dataTypes"
                [multiple]="true"
                [closeOnSelect]="false"
                [hideSelected]="true"
                bindLabel="name"
                placeholder="Data type"
                formControlName="ontoDataSearchDataType"
              >
              </ng-select>
            </div>

            <!-- <mat-divider [vertical]="true" class="divider"></mat-divider> -->

            <div class="col-md-7">
              <ng-select
                [items]="keywords"
                [multiple]="true"
                [closeOnSelect]="false"
                [hideSelected]="true"
                bindLabel="name"
                placeholder="Keywords"
                formControlName="ontoDataSearchKeyword"
              >
              </ng-select>
            </div>

            <div class="col-md-1">
              <button
                (click)="onClickSearchOntoData()"
                [disabled]="!ontoDataSearchFormGroup.valid"
                class="btn btn-primary btn-round btn-fab float-right card-btn"
                type="submit"
              >
                <mat-icon>search</mat-icon>
              </button>
            </div>

          </div>
        </form>


        <!-- Search & propagation buttons -->
        <div class="row">
          <!--
          <div class="col-sm-1 offset-sm-10">
            <button mat-raised-button class="btn btn-primary float-left" (click)="onClickSearchOntoData()">Search</button>
          </div>
          -->
          <div class="col-sm-1 offset-sm-11">
            <button mat-raised-button class="btn btn-warning float-right" (click)="onClickPropagateAll()">
              Propagate All
            </button>
          </div>
        </div>

        <mat-card *ngIf="ontoDataSearchGroups?.length">
          <mat-card-header>
            <mat-card-title>Data Streams</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <app-onto-data-group-table
            [data]="ontoDataSearchGroups"
            (onClickPropagate) = "onClickPropagateOntoDataSearchGroup($event)"
            (onClickRemove) = "onClickRemoveOntoDataSearchGroup($event)"
          >
          </app-onto-data-group-table>
        </mat-card>

        <mat-card *ngIf="ontoPageExtSearchGroups?.length">
          <mat-card-header>
            <mat-card-title>Links</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>
          <app-onto-page-ext-group-table
            [data]="ontoPageExtSearchGroups"
            (onClickPropagate) = "onClickPropagateOntoDataSearchGroup($event)"
            (onClickRemove) = "onClickRemoveOntoDataSearchGroup($event)"
          >
          </app-onto-page-ext-group-table>
        </mat-card>

      </div>
    </div>
    <!--End card search data-->

    <!--Search Links-->
    <!--
    <div class="card" *ngIf="exampleLinks?.length">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>web</mat-icon>
        </div>
        <h4 class="card-title">Links</h4>
      </div>
      <div class="card-body">
        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Search Links</mat-card-subtitle>
          </mat-card-header>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <mat-card-subtitle>Bind Links</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
    -->

    <!--End container-fluid-->
  </div>
  <!--End main-content-->
</div>
