.divider {
  height: 1.3em;
  //margin: 22px 0 0 0;
  background-color: lightgrey;
}

.mat-card {
  margin-bottom: 15px;
}

.align-exiting-binding-icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
