<div class="main-content">
  <div class="container-fluid">
    <!-- Select VIS -->

    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>insert_chart</mat-icon>
        </div>
        <h4 class="card-title">VIS Function</h4>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="pull-left mt-1 col-md-3">
            <mat-form-field>
              <app-custom-single-selection
                [data]="ontoVisArr$ | async"
                placeholder="Select VIS function"
                placeholderLabel="Search VIS function..."
                (onSelectId)="onSelectOntoVis($event)"
              >
              </app-custom-single-selection>
            </mat-form-field>
          </div>

          <div class="pull-right mt-1 col-md-7"></div>

          <div class="pull-right mt-1 col-md-1">
            <mat-form-field>
              <mat-select [(ngModel)]="propagationType" placeholder="Propagation Type">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let d of propagationTypes" [value]="d">{{ d }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="pull-right mt-1 col-md-1">
            <!--Propagation button-->
            <button mat-raised-button class="btn btn-primary float-right" (click)="onClickPropagate()">
              Propagate
            </button>
          </div>
        </div>

        <!--Selected VIS table-->
        <app-onto-vis-table [editable]="false" [selectable]="true" [data]="selectedOntoVisArr"> </app-onto-vis-table>
      </div>
    </div>

    <!--Example data-->

    <div class="card" *ngIf="exampleOntoDataArr?.length">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>storage</mat-icon>
        </div>
        <h4 class="card-title">Example Data Streams</h4>
      </div>
      <div class="card-body">
        <app-onto-data-table-b [data]="exampleOntoDataArr"> </app-onto-data-table-b>
      </div>
    </div>

    <!--Example pages/links-->

    <div class="card" *ngIf="exampleOntoPages?.length">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>web</mat-icon>
        </div>
        <h4 class="card-title">Example Links</h4>
      </div>
      <div class="card-body">
        <app-onto-data-table-b [data]="exampleOntoPages"> </app-onto-data-table-b>
      </div>
    </div>

    <!--Search data-->

    <div class="card" *ngIf="exampleOntoDataArr?.length">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>search</mat-icon>
        </div>
        <h4 class="card-title">Search Data Streams</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="pull-left mt-1 col-md-1">
            <mat-form-field>
              <mat-select [(ngModel)]="selectedDataType" placeholder="Data Type">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let d of dataTypes" [value]="d">{{ d }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-divider [vertical]="true" class="divider"></mat-divider>

          <div class="pull-left mt-1 col-md-4">
            <mat-form-field>
              <mat-icon matSuffix>search</mat-icon>
              <input
                matInput
                type="text"
                [(ngModel)]="searchQuery"
                [formControl]="searchForm"
                [matAutocomplete]="auto"
                placeholder="Search data streams"
                #input
                (keydown.enter)="search(input.value)"
              />
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected(input)">
                <mat-option *ngFor="let d of suggestedList" [value]="d.description + ' ' + d.keywords.join(', ')">
                  <span [innerHTML]="d.description | highlight: toHighlight"></span> <b> | </b>
                  <span [innerHTML]="d.keywords.join(', ') | highlight: toHighlight"></span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <!-- <button (click)="search()" class="btn btn-primary btn-round btn-fab float-right card-btn">
              <mat-icon>search</mat-icon>
            </button> -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <app-onto-data-table
              [data]="ontoDataSearchResult"
              [editable]="false"
              [selectable]="true"
              (fetchFilteredData)="filterAndSearchOntoData($event)"
            >
            </app-onto-data-table>
          </div>
        </div>
      </div>
    </div>
    <!--Search Data-->

    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>
    </div>

  </div>
  <!--container-fluid-->
</div>
<!--main-content-->
