<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>insert_chart</mat-icon>
        </div>
        <h4 class="card-title">VIS Functions</h4>
      </div>

      <div class="card-body">
        <app-onto-vis-table
          [data]="ontoVisArr"
          [len]="ontoVisArrLength"
          [isEditable]="true"
          (onClickCreate)="onClickCreate()"
          (onClickEdit)="onClickEdit($event)"
          (onClickDelete)="onClickDelete($event)"
        >
        </app-onto-vis-table>
      </div>
    </div>
  </div>
</div>
