<mat-form-field class="pull-left mt-1 col-md-4">
  <input
    (keyup)="filterDataSource()"
    [(ngModel)]="searchTerm"
    matInput
    name="search"
    placeholder="Filter..."
    type="text"
  />
</mat-form-field>

<table
  [dataSource]="tableDataSource"
  mat-table
  matSort
  matSortActive="created"
  matSortDirection="desc"
  matSortDisableClear="true"
>
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-header-cell>Copy ID</th>
    <td *matCellDef="let row" mat-cell>
      <button
        cdkCopyToClipboard="{{ row.id }}"
        [matTooltipPosition]="'left'"
        class="btn btn-light btn-link"
        mat-icon-button
        matTooltip="Copy to clipboard"
        type="button"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="function">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Function</th>
    <td *matCellDef="let row" mat-cell>{{ row.function }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
    <td *matCellDef="let row" mat-cell>
      <mat-chip-list>
        <mat-chip *ngIf="row.type">{{ row.type }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="dataTypes">
    <th *matHeaderCellDef mat-header-cell>Data Type</th>
    <td *matCellDef="let row" mat-cell>
      <mat-chip-list>
        <mat-chip *ngFor="let d of row.dataTypes">
          {{ d }}
        </mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
    <td *matCellDef="let row" mat-cell>{{ row.description }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef class="text-center actions" mat-header-cell>Actions</th>
    <td *matCellDef="let row" class="td-actions text-center text-nowrap" mat-cell>
      <button
        (click)="onClickEditOntoVis.emit(row)"
        [matTooltipPosition]="'left'"
        class="btn btn-warning btn-link"
        mat-icon-button
        matTooltip="Edit/Update"
        type="button"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        (click)="onClickDeleteOntoVis.emit(row)"
        [matTooltipPosition]="'left'"
        class="btn btn-danger btn-link"
        mat-icon-button
        matTooltip="Remove row"
        type="button"
      >
        <mat-icon>close</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="tableData.headerRow" mat-header-row></tr>
  <tr *matRowDef="let visList; columns: tableData.headerRow" mat-row></tr>
</table>

<div *ngIf="spinner" class="spinner-background">
  <mat-progress-spinner class="progress-spinner-container" color="primary" diameter="100" mode="indeterminate">
  </mat-progress-spinner>
</div>
<mat-paginator [length]="ontoVisArrLength" [pageSizeOptions]="[50, 100, 150, 200]" [pageSize]="50" showFirstLastButtons>
</mat-paginator>
