@import '../../../styles.scss';

div.spinner-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #f5f5f594;
  display: flex; 
  justify-content: center;
  align-items: center;

  .progress-spinner-container {
    margin: auto;
  }
}

.drop-search {
  margin-top: 13px;
}

.drop-9 {
  margin-top: 9px;
}

.page-text-lightgray td {
  color: rgba(192, 192, 192) !important;
}

.green-icon {
  color: green;
}