<div class="main-content dashboard-wrap">
  <div class="container-fluid page-wrap">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <mat-icon>playlist_add_check</mat-icon>
            </div>
            <h4 class="card-title">Test</h4>

            <form [formGroup]="formGroup">
              <mat-form-field>
                <!--custom single selection-->
                <app-custom-single-selection
                  [data]="data$ | async"
                  formControlName="visId"
                  placeholder="Select VIS function"
                  placeholderLabel="Search VIS function..."
                  (onSelectId)="onSelectOntoVis($event)"
                >
                </app-custom-single-selection>
              </mat-form-field>
            </form>
            <pre>{{ formGroup.value | json }}</pre>

            <!--custom search form-->
            <mat-form-field class="search-form-field" appearance="standard">
              <mat-label>Search data streams</mat-label>
              <app-custom-form-field-control
                [required]="true"
                placeholder="Start to type..."
              ></app-custom-form-field-control>
            </mat-form-field>
          </div>
          <div class="card-body"></div>
        </div>
        <!--card-->
      </div>
      <!--col-md-9-->

      <div class="col-md-3">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <mat-icon>notification_important</mat-icon>
            </div>
            <h4 class="card-title">Events</h4>
          </div>
          <div class="timeline-wrap">
            <p>List of events </p>
          </div>
        </div>
      </div>
    </div>
    <!--col-md-3-->
  </div>
  <!--row-->
</div>
