<div class="main-content dashboard-wrap">
  <div class="container-fluid page-wrap">
    <div class="row">

      <!-- Multiple drag and drop table experiment-->

      <mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        cdkDropList
        #table1
        #list1="cdkDropList"
        [cdkDropListData]="dataSource.data"
        [cdkDropListConnectedTo]="[list2]"
        (cdkDropListDropped)="drop($event)"
        id="table1"
      >
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag></mat-row>
      </mat-table>

      <hr />

      <mat-table
        [dataSource]="dataSource2"
        class="mat-elevation-z8"
        cdkDropList
        #table2
        #list2="cdkDropList"
        [cdkDropListData]="dataSource2.data"

        (cdkDropListDropped)="drop($event)"
        id="table2"
      >
        <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.position }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.weight }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" cdkDrag></mat-row>
      </mat-table>

      <!-- End- Multiple drag and drop table experiment-->

    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <mat-icon>playlist_add_check</mat-icon>
            </div>
            <h4 class="card-title">Test</h4>

            <form [formGroup]="formGroup">
              <mat-form-field>
                <!--custom single selection-->
                <app-custom-single-selection
                  [data]="data$ | async"
                  formControlName="visId"
                  placeholder="Select VIS function"
                  placeholderLabel="Search VIS function..."
                  (onSelectId)="onSelectOntoVis($event)"
                >
                </app-custom-single-selection>
              </mat-form-field>
            </form>
            <pre>{{ formGroup.value | json }}</pre>

            <!--custom search form-->
            <mat-form-field class="search-form-field" appearance="standard">
              <mat-label>Search data streams</mat-label>
              <app-custom-form-field-control
                [required]="true"
                placeholder="Start to type..."
              ></app-custom-form-field-control>
            </mat-form-field>
          </div>
          <div class="card-body"></div>
        </div>
        <!--card-->
      </div>
      <!--col-md-9-->

      <div class="col-md-3">
        <div class="card">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <mat-icon>notification_important</mat-icon>
            </div>
            <h4 class="card-title">Events</h4>
          </div>
          <div class="timeline-wrap">
            <p>List of events</p>
          </div>
        </div>
      </div>
    </div>
    <!--row-->
  </div>
</div>
