<h5 mat-dialog-title>{{ dialogType | titlecase }} Data</h5>

<mat-dialog-content>
  <form [formGroup]="formGroup" #modalForm>
    <mat-form-field>
      <mat-label>URL Code</mat-label>
      <input formControlName="urlCode" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Endpoint</mat-label>
      <input formControlName="endpoint" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="dataType" placeholder="Data Type">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let d of dataTypes" [value]="d">{{ d }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput />
    </mat-form-field>

    <hr />

    <!-- keywords-->
    <ng-container *ngIf="formGroup.controls['keywords'] && formGroup.controls['keywords']['controls']">
      <div *ngFor="let d of formGroup.controls['keywords']['controls']; let i = index">
        <app-keywords-edit [formGroup]="d"></app-keywords-edit>
      </div>
    </ng-container>

    <button
      (click)="addKeywords()"
      [matTooltipPosition]="'left'"
      class="btn btn-success btn-link float-left"
      mat-icon-button
      matTooltip="Add keywords"
      type="button"
    >
      <mat-icon>add_circle</mat-icon>
    </button>
    <!-- keywords -->

    <mat-dialog-actions align="end">
      <button mat-raised-button class="btn btn-warning" [mat-dialog-close]="undefined">Cancel</button>

      <button mat-raised-button class="btn btn-primary" (click)="save()" [disabled]="!formGroup.valid" type="submit">
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
