//
// No horizontal border
//

td.mat-cell{
  border-bottom-style: none;
}

th.mat-header-cell{
  border-bottom-style: none;
}

//
// Width distribution
//

.mat-column-index {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 5% !important;
  width: 5% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-function {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 49% !important;
  width: 49% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// .mat-column-description {
//   word-wrap: break-word !important;
//   white-space: unset !important;
//   flex: 0 0 34% !important;
//   width: 34% !important;
//   overflow-wrap: break-word;
//   word-wrap: break-word;

//   word-break: break-word;

//   -ms-hyphens: auto;
//   -moz-hyphens: auto;
//   -webkit-hyphens: auto;
//   hyphens: auto;
// }

.mat-column-dataTypes {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 30% !important;
  width: 30% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-type {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 8% !important;
  width: 8% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}


