<div class="main-content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <mat-icon>storage</mat-icon>
        </div>
        <h4 class="card-title">Data</h4>
      </div>

      <div class="card-body">
        <app-onto-data-table-a
          [data]="ontoDataArr"
          [length]="ontoDataTotalCount"
          (onClickCreate)="onClickCreate()"
          (onClickEdit)="onClickEdit($event)"
          (onClickDelete)="onClickDelete($event)"
          (fetchFilteredData)="filterOntoData($event)"
        >
        </app-onto-data-table-a>

      </div>
      <!-- end card-body-->
    </div>
    <!--  end card  -->
  </div>
</div>
