<div class="card" [formGroup]="formGroup">
  <div class="card-header">
    <button (click)="removeSelf()" 
      [matTooltipPosition]="'left'" 
      class="btn btn-danger btn-link float-right" 
      mat-icon-button matTooltip="Remove" 
      type="button"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>

  <div class="card-body">

    <mat-form-field>
      <mat-select formControlName="dataId" placeholder="Data ID" #singleSelect>
        <mat-option>
          <ngx-mat-select-search 
            [formControl]="dataIdFilterCtrl"
            placeholderLabel="Find data ..." 
            noEntriesFoundLabel="No matching data found"
          ></ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let d of filteredDataId | async" [value]="d.id">{{ d.endpoint }}</mat-option>
      </mat-select>
    </mat-form-field>

		<ng-container *ngIf=" formGroup.controls['queryParams'] && formGroup.controls['queryParams']['controls']" >
			<div *ngFor="let d of formGroup.controls['queryParams']['controls']; let i = index">
				<app-queryparam2-edit [formGroup]="d" [id]="formGroup.controls?.dataId?.value"></app-queryparam2-edit>
			</div>
		</ng-container>

		<button
			[disabled]="!formGroup.controls?.dataId?.value"
      (click)="onClickBindQueryParams()"
      [matTooltipPosition]="'left'"
      class="btn btn-success btn-link float-left"
      mat-icon-button
      matTooltip="Bind Query Params"
      type="button"
    >
			<mat-icon>add_circle</mat-icon>
    </button>
		
  </div>
</div>
