<div class="row">
  <mat-form-field *ngIf="searchable" class="pull-left mt-1 col-md-3">
    <input
      matInput
      type="text"
      name="search"
      [(ngModel)]="filterTerm"
      (keyup)="filterTerm$.next(filterTerm)"
      placeholder="Filter by endpoint, id, description, keyword..."
    />
  </mat-form-field>

  <div *ngIf="editable" class="pull-right mt-1 col-md-8">
    <button (click)="onClickCreate.emit()" class="btn btn-primary btn-round btn-fab float-right card-btn" mat-mini-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>

<table
  [dataSource]="dataSource"
  mat-table
  matSort
  matSortActive="date"
  matSortDirection="desc"
  matSortDisableClear="true"
>

  <ng-container matColumnDef="index">
    <th *matHeaderCellDef mat-header-cell>No.</th>
    <td *matCellDef="let row let i = index" mat-cell>{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="endpoint">
    <th *matHeaderCellDef mat-header-cell>Endpoint</th>
    <td *matCellDef="let row" mat-cell>{{ row.urlCode }}{{ row.endpoint | truncate: "75" }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Description</th>
    <td *matCellDef="let row" mat-cell>{{ row.description | truncate: "50" }}</td>
  </ng-container>



  <ng-container matColumnDef="dataType">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Type</th>
    <td *matCellDef="let row" mat-cell>
      <mat-chip-list>
        <mat-chip *ngIf="row.dataType">{{ row.dataType }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>

  <ng-container matColumnDef="keywords">
    <th *matHeaderCellDef mat-header-cell>Keywords</th>
    <td *matCellDef="let row" mat-cell>
      <mat-chip-list>
        <mat-chip *ngFor="let d of row.keywords">{{ d }}</mat-chip>
      </mat-chip-list>
    </td>
  </ng-container>


  <ng-container matColumnDef="date">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>Date</th>
    <td *matCellDef="let row" mat-cell>{{ row.date | date: "short" }}</td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="actions">
    <th *matHeaderCellDef class="text-center actions" mat-header-cell>
      Actions
    </th>
    <td *matCellDef="let row" class="td-actions text-center text-nowrap" mat-cell>
      <button
        cdkCopyToClipboard="{{ row.id }}"
        [matTooltipPosition]="'left'"
        class="btn btn-light btn-link"
        mat-icon-button
        matTooltip="Copy to clipboard"
        type="button"
      >
        <mat-icon>content_copy</mat-icon>
      </button>

      <button
        (click)="onClickViewData(row)"
        [matTooltipPosition]="'left'"
        class="btn btn-primary btn-link"
        mat-icon-button
        matTooltip="View data"
        type="button"
      >
        <mat-icon>open_in_new</mat-icon>
      </button>

      <button
        *ngIf="editable"
        (click)="onClickEdit.emit(row)"
        [matTooltipPosition]="'left'"
        class="btn btn-warning btn-link"
        mat-icon-button
        matTooltip="Edit"
        type="button"
      >
        <mat-icon>edit</mat-icon>
      </button>

      <button
        *ngIf="editable"
        (click)="onClickDelete.emit(row)"
        [matTooltipPosition]="'left'"
        class="btn btn-danger btn-link"
        mat-icon-button
        matTooltip="Delete"
        type="button"
      >
        <mat-icon>close</mat-icon>
      </button>

    </td>

  </ng-container>

  <ng-container matColumnDef="binding">
    <th *matHeaderCellDef mat-header-cell [hidden]= "!selectable">Existing Pages</th>
    <td *matCellDef="let row" mat-cell [hidden]= "!selectable">
      <div *ngIf="row.pageIds?.length" class="text-in-dot" style="background: orange"> {{ row.pageIds?.length }}</div>
    </td>
  </ng-container>

  <!-- Selection Column -->
  <ng-container matColumnDef="select">
    <th *matHeaderCellDef class="text-center actions" mat-header-cell>
      <!-- Select all row -->
      <mat-checkbox
        [hidden]= "!selectable"
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>

    </th>
    <td *matCellDef="let row" class="td-actions text-center text-nowrap" mat-cell>
      <!-- Select row -->
      <mat-checkbox
        *ngIf="selectable"
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="tableData.headerRow" mat-header-row></tr>
  <tr *matRowDef="let visList; columns: tableData.headerRow" mat-row></tr>
</table>

<div *ngIf="spinner">
  <mat-progress-spinner color="primary" diameter="80" mode="indeterminate">
  </mat-progress-spinner>
</div>

<mat-paginator
  [hidden]= "!editable"
  [length]="len"
  [pageSizeOptions]="[50, 100, 150, 200]"
  [pageSize]="50"
  showFirstLastButtons
>
</mat-paginator>
