<h5 mat-dialog-title>{{ dialogType | titlecase  }} Visualization Function</h5>

<mat-dialog-content>
  <form [formGroup]="form" #modalForm>
    <mat-form-field>
      <mat-label>Enter vis function</mat-label>
      <input formControlName="function" matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="type" placeholder="Select type">
        <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter description</mat-label>
      <input formControlName="description" matInput />
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button 
        mat-raised-button
        class="btn btn-warning"
        [mat-dialog-close]="undefined" 
      >
        Cancel
      </button>

      <button 
        mat-raised-button 
        class="btn btn-primary"
        (click)="save()" 
        [disabled]="!form.valid" 
        type="submit"
      >
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
